.weather {
  font-family: cursive, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://media.istockphoto.com/id/187484756/photo/seascape-view.jpg?s=612x612&w=0&k=20&c=fI3uZxPCiiRfrA-5WQX3miPOmsxHE5TbARpsPzrZU4U=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.weather .search {
  text-align: center;
}
.search input {
  margin-top: 2%;
  font-family: inherit;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.282);
  color: white;
  border: none;
}
.search input::placeholder {
  color: white;
}
.search input:focus {
  outline: none;
}
button {
  font-family: inherit;
}
.container {
  margin: 5% 10%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4%;
  color: white;
}
.temp {
  font-size: 2.2rem;
}
p {
  margin: 2px;
}
.flex-box {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  gap: 0px;
  text-align: center;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
}
.flex-box div {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1% 2.4%;
  margin: 0.5%;
}
.value {
  margin-bottom: 10%;
  font-size: 1.5rem;
}
.err {
  font-size: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.867);
  margin-top: 5%;
  padding: 1%;
}
